absl-py==2.1.0
altgraph==0.17.4
immutabledict==4.2.0
numpy==2.1.1
ortools==9.10.4067
packaging==24.1
pandas==2.2.2
pefile==2024.8.26
protobuf==5.28.0
pyinstall==0.1.4
pyinstaller==6.10.0
pyinstaller-hooks-contrib==2024.8
python-dateutil==2.9.0.post0
pytz==2024.1
pywin32-ctypes==0.2.3
six==1.16.0
tzdata==2024.1
Wave==0.0.2
openpyxl
xlsxwriter
